/**
 * Default
 */


.ty-checkbox {
	position: relative;
	display: inline-block;

	&__label {
		display: block;
		margin-right: 5px;
	}

	input {
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		cursor: pointer;
	}

	div {
		position: relative;
		border-radius: 3px;
		cursor: pointer;
		transition: linear .2s, background-color linear .2s;

		&:after {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-family: ty-icon;
			content: '\e80d';
			display: block;
			transition: linear .15s, opacity linear .15s;
			cursor: pointer;
		}
	}

	&--unchecked {
		div {
			justify-content: center;
			&:after {
				opacity: 0;
			}
		}
	}

	&--disabled {
		div {
			opacity: .3;
			cursor: default;
		}

		input {
			cursor: default;
		}

		label {
			opacity: .3;
		}
	}

	&--bold {
		div {
			top: -8px;
			height: 26px;
			width: 51px;

			&:after {
				margin-left: -24px;
				top: 3px;
			}
		}

		&--unchecked {
			div {
				&:after {
					left: 28px;
				}
			}
		}

		.ty-checkbox__label {
				margin-right: 8px;
				display: inline-block;
		}
	}

	&-theme--default {

		@each $colorName,
		$color in $colors {
			&.ty-checkbox-active-color--#{$colorName} {

				div {
					background-color: $color;
					&:after {
						color: lighten($color, 50%)
					}
				}
			}
			&.ty-checkbox-inactive-color--#{$colorName} {

				&.ty-checkbox--unchecked {
					div {
						background-color: lighten($color, 40%);
						box-shadow: 0 0 2px 0 darken($color, 50%);
						&:after {
							color: lighten($color, 50%);
						}
					}
				}

			}
		}
	}
}