.ty-editable-text {
	&:focus {
	  outline: 1px solid #eee;
	  padding: 0 4px;
	}
  }
  
  .ty-editable-number {
	width: 100%;
	height: 40px;
	input {
	  border: 1px #eee solid;
	  height: 32px;
	  direction: ltr;
	  max-width: 100%;
	}
}