.ty-input {
	display: inline-block;
	.ty-input-wrapper {
	  position: relative;
	//   display: inline-block;
	  border-radius: 4px;
	  border: solid 1px #e0e0e0;
	  flex: auto;
	  background-color: rgba(106, 112, 126, 0);
	  
	  &.--border-clear {
		border: none;
	  }
	  &.--border-bottom {
		border: none;
		border-radius: 0;
		border-bottom: solid 1px #e0e0e0;
	  }
	  &.normal {
		padding: 2px 2px;
		font-size: 16px;
		font-size: 1rem;
	  }
	  &.semi-small {
		padding: 2px 2px;
		font-size: 16px;
		font-size: 1rem;
		input {
			height: 26px;
		}
	  }
	  &.small {
		padding: 1px 1px;
		font-size: 14px;
		font-size: 0.85rem;
		input {
			height: 24px;
		}
	  }
	  &.semi-large {
		padding: 2px 8px;
		font-size: 18px;
		font-size: 1.2rem;
		input {
			height: 48px;
		}
	  }
	  &.large {
		padding: 4px 18px;
		font-size: 18px;
		font-size: 1.2rem;
		input {
			height: 54px;
		}
	  }
	  .ty-input-label {
  
		&.normal {
		  height: 64px;
		}
	  }
	}
	.ty-input-wrapper input {
		border: none;
		height: 40px;
		padding: 2px 15px;
		display: block;
		&.--input-with-prefix {
		  padding-right: 30px;
		}
	}
	.ty-input-wrapper textarea {
		border: none;
		padding: 8px;
		display: block;
		max-width: 100%;
		&.--input-with-prefix {
			text-indent: 30px;
		}
	}
	.ty-input-wrapper .prefix {
	  position: absolute;
	  right: 8px;
	  top: 50%;
	  transform: translateY(-50%);
	  &.prefix--ltr {
		right: unset;
		left: 4px;
	  }

	  &.prefix__textarea {
		  top: 8px;
		  transform: unset;
	  }
	}
	.ty-input-wrapper .suffix {
	  display: flex;
	  gap: 10px;
	  position: absolute;
	  left: 8px;
	  top: 50%;
	  transform: translateY(-50%);
	  &.suffix--ltr {
		left: unset;
		right: 16px;
	  }
	}
	.ty-input-wrapper:not(.disabled):hover {
	  outline: $primary auto 1px;
	}
	.ty-input-wrapper.ty-input-focus {
	  outline: $primary auto 1px;
	}
  
	.ty-input-wrapper:focus {
	  outline: $primary auto 1px;
	}
	input:hover, textarea:hover {
	  outline: none;
	}
	input:focus, textarea:focus {
	  outline: none;
	}
	input::placholder, textarea::placholder {
		text-overflow: ellipsis;
	}
  }
  .ty-input input, .ty-input textarea {
	  width: 100%;
  }
  .ty-input input {
	  text-overflow: ellipsis;
  }

  .ty-input.ty-input-number {
	  position: relative;
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
	
	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}

	.ty-input-main {
		position: relative;
		display: inline-block;
		line-height: 32px;
	}
  }

  .ty-input.ty-input-number {
	.__input-number-button {
		height: 46px;
		width: 46px;
		max-height: 100%;
	}

	&.semi-small {
		.__input-number-button {
			height: 30px;
			width: 30px;
			max-height: 100%;
		}	
	}

	&.small {
		.__input-number-button {
			height: 26px;
			width: 26px;
			max-height: 100%;
		}	
	}

	&.semi-large {
		.__input-number-button {
			height: 54px;
			width: 54px;
			max-height: 100%;
		}	
	}

	&.large {
		.__input-number-button {
			height: 64px;
			width: 64px;
			max-height: 100%;
		}	
	}
  }
 
  .ty-select__search  .ty-input {
	cursor: pointer;
	display: block;
  }

  .ty-select__search  .ty-input input  {
	cursor: pointer;
  }

  .ty-select.disabled  {
	.ty-input, .ty-input input {
		cursor: default;
	}
  }