.ty-select {
	position: relative;
	display: inline-block;
  }

  .ty-select:focus-within {
	  .ty-select__dropdown {
		display: block;
	  }
	  .dropdown-icon::before {
		content: '\e83d';
	  }
  }
  .dropdown-icon::before{
	content: '\e800';
}
  .ty-select__dropdown {
	  display: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	position: fixed;
	padding: 4px;
	min-height: 64px;
	max-height: 200px;
	min-width: 200px;
	overflow-y: auto;
	background-color: $background;
	z-index: 100;
	@include ty-boxshadow;
	.ty-dropdown-item {
	  padding: 8px;
	  cursor: pointer;
	}
	.ty-dropdown-item-hovered {
	  background-color: $light;
	}
	.ty-dropdown-item:hover {
	  background-color: $light;
	}
	.ty-dropdown-item-new {
		background-color: lighten($success, 45%);
	}
	
  }
  