$colors: (
	"primary" $primary $light $light,
	"success" $success $light $light,
	"dark" $dark $light $light,
	"danger" $danger $light $light,
	"warning" $warning $light $light,
	"background" $background $dark $light,
	"light" $light $light $dark,
	"shadow" $shadow $dark $dark,
	"border" $border $dark $dark,
	"table-header" $table-header $dark $light,
	"gray" $gray $dark $light,
	"dark-gray" $dark-gray $dark $light,
	"white" $white $light $light,
);

@each $name, $color, $oposite, $text-color in $colors {
	.ty-color-#{$name} {
		color: $color;
	}
	.ty-outline-#{$name} {
		outline: $color auto 1px;
	}
	.ty-outline-#{$name}.ty-hoverable:hover {
		background-color: $color;
		color: $oposite;
	}
	.ty-bg-#{$name} {
		background-color: $color;
		color: $text-color;
	}
	.ty-border-color-#{$name} {
		border-color: $color;
	}
}

.ty-bg-unset {
	background-color: unset;
	color: $dark;
}

//button colors
.ty-button {
	&:hover {
		@each $name, $color, $oposite, $text-color in $colors {
			&.ty-bg-#{$name} {
				background-color: lighten($color, 5%);
			}
		}
	}
	&:active {
		@each $name, $color, $oposite, $text-color in $colors {
			&.ty-bg-#{$name} {
				background-color: lighten($color, 10%);
			}
		}
		@each $name, $color, $oposite, $text-color in $colors {
			&.ty-bg-#{$name} {
				background-color: lighten($color, 10%);
			}
			&.outline.ty-color-#{$name} {
				outline-color: lighten($color, 5%);
				background-color: lighten($color, 5%);
			}
		}
	}
}