.ty-color-primary {
	color: $primary;
}

.ty-color-success {
	color: $success;
}

.ty-color-danger {
	color: $danger;
}

.ty-color-warning {
	color: $warning;
}


.ty-color-dark {
	color: $dark;
}

.ty-color-light {
	color: $light;
}

.ty-color-border {
	color: $border;
}



.ty-outline-primary {
	outline: $primary auto 1px;
}

.ty-outline-success {
	outline: $success auto 1px;
}

.ty-outline-danger {
	outline: $danger auto 1px;
}

.ty-outline-warning {
	outline: $warning auto 1px;
}

.ty-outline-dark {
	outline: $dark auto 1px;
}

.ty-outline-light {
	outline: $light auto 1px;
}



.ty-outline-primary.ty-hoverable:hover {
	background-color: $primary;
	color: $light;
}

.ty-outline-success.ty-hoverable:hover {
	background-color: $success;
	color: $light;
}

.ty-outline-danger.ty-hoverable:hover {
	background-color: $danger;
	color: $light;
}

.ty-outline-warning.ty-hoverable:hover {
	background-color: $warning;
	color: $light;
}

.ty-outline-dark.ty-hoverable:hover {
	background-color: $dark;
	color: $light;
}

.ty-outline-light.ty-hoverable:hover {
	background-color: $light;
	color: $dark;
}
// .ty-color-pale-grey {
// 	color: $light;
// }

.ty-bg-primary {
	background-color: $primary;
	color: $light;
}

.ty-bg-success {
	background-color: $success;
	color: $light;
}

.ty-bg-danger {
	background-color: $danger;
	color: $light;
}

.ty-bg-warning {
	background-color: $warning;
	color: $light;
}

.ty-bg-dark {
	background-color: $dark;
	color: $light;
}

.ty-bg-light {
	background-color: $light;
	color: $dark;
}

.ty-bg-unset {
	background-color: unset;
	color: $dark;
}