.fs-xxs {
	font-size: 10px;
}
.fs-xs {
	font-size: 12px;
}
.fs-sm {
	font-size: 14px;
}
.fs-md {
	font-size: 16px;
}
.fs-lg {
	font-size: 18px;
}
.fs-xl {
	font-size: 20px;
}
.fs-xxl {
	font-size: 22px;
}
.fs-h {
	font-size: 32px;
}
.fs-xh {
	font-size: 48px;
}
.fs-xxh {
	font-size: 72px;
}

.fw-lighter {
	font-weight: lighter;
}
.fw-light {
	font-weight: 200;
}
.fw-normal {
	font-weight: normal;
}
.fw-semi-bold {
	font-weight: 600;
}
.fw-bold {
	font-weight: 700;
}
.fw-bolder {
	font-weight: bolder;
}

.of-hidden {
	overflow: hidden;
}

.ofx-hidden {
	overflow-x: hidden;
}

.ofy-hidden {
	overflow-y: hidden;
}
.of-scroll {
	overflow: scroll;
}
.ofx-scroll {
	overflow-x: scroll;
}

.ofy-scroll {
	overflow-y: scroll;
}

.of-auto {
	overflow: auto;
}
.ofx-auto {
	overflow-x: auto;
}
.ofy-auto {
	overflow-y: auto;
}

.of-text-clip {
	overflow: hidden;
	text-overflow: clip;
}
.of-text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}
.break-word {
	white-space: nowrap;
	word-wrap: break-word;
}
.normal-word {
	word-wrap: normal;
}
.white-space-nowrap {
	white-space: nowrap;
}
.white-space-pre-wrap {
	white-space: pre-wrap;
}