.ty-acardion-item {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	.ty-acardion-item__header {
		position: relative;
		text-align: center;
		padding: 8px;
		backdrop-filter: blur(50px);
		  background-color: #ffffff33;
		  .ty-acardion-item__icon {
			  position: absolute;
			  left: 4px;
			  top: 50%;
			  transform: translateY(-50%);
			  transition: transform 0.5s;
			  &.active {
				  transform: rotate(90deg);
			  }
		  }
	}
	.ty-acardion-item__content {
		transition: max-height 0.5s;
		&.inactive {
			max-height: 0 !important;
		}
	}
}