@import './var';
@import './iconfont';
@import './shared.scss';
@import './mixins/index';
@import './utilities/utilities';

@import './components/input.scss';
@import './components/editable.scss';
@import './components/select.scss';
@import './components/card.scss';
@import './components/button.scss';
@import './components/main.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/aside.scss';
@import './components/container.scss';
@import './components/row.scss';
@import './components/col.scss';
@import './components/modal.scss';
@import './components/border.scss';
@import './components/acardion.scss';
@import './components/table.scss';
@import './components/tabs.scss';
@import './components/loading.scss';
@import './components/image-uploader.scss';
@import './components/switch.scss';
@import './components/checkbox.scss';
@import './components/color-picker.scss';
@import './components/skeleton.scss';

body.--hide-overflow {
  overflow: hidden !important;
}

.nocursor {
  cursor: none;
}

.nocaret {
  caret-color: transparent;
}