.ty-modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s ease;
	justify-content: center;
  }
  
  .ty-modal-container {
	margin: 0px auto;
	padding: 10px 16px;
	background-color: $white;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	overflow: auto;
	max-height: 100%;

	&.fullscreen {
		width: 100% !important;
		height: 100% !important;
	}
  }
  
  .ty-modal-body {
	margin: 20px 0;
  }

  .ty-modal-footer {
	  margin-top: 16px;
  }