.ty-flex {
	display: flex;
	&.ty-flex-col {
		flex-direction: column;
	}
	&.ty-flex-col-reversed {
		flex-direction: column-reverse;
	}
	&.ty-flex-row {
		flex-direction: row;
	}
	&.ty-flex-row-reversed {
		flex-direction: row-reverse;
	}
}
.ty-flex-wrap {
	flex-wrap: wrap;
}
.ty-justify-center {
	justify-content: center;
}
.ty-space-between {
	justify-content: space-between;
}
.ty-space-around {
	justify-content: space-around;
}
.ty-space-evenly {
	justify-content: space-evenly;
}