@media (max-width: 480px){
    .ty-table {
        margin-top: 0 !important;
    }
}
.ty-table-wrapper {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  max-width: 100%;
}
.ty-table .cell {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  line-height: 23px;
  padding-left: 10px;
  padding-right: 10px;
}
.ty-table {
    table-layout: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .ty-table.ty-table-divided th, .ty-table.ty-table-divided td {
    border: 1px solid $border;
  }
  
  .ty-table th, .ty-table td {
    padding: 8px;
  }
  .ty-table th:first-child {
    padding: 16px 16px 16px 8px;
  }
  .ty-table td:first-child {
    padding: 26px 16px 26px 16px;
  }
  
  .ty-table.ty-table-striped tr:nth-child(even){background-color: #f2f2f2;}
  .ty-table.ty-table-simple tr{border-bottom: 1px solid #f2f2f2;}
  
  .ty-table tr:hover {background: lighten($primary, 35%);}
  
  .ty-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: $table-header;
  }
  // .ty-hidden-columns {
  //   display: none;
  // }

.ty-table-header {
  width: 100%;
}
.ty-table-footer {
  width: 100%;
}

.ty-table-caption {
  display: none;
}